/* Colors */
:root {
    --background-color:  #FFFFFF; /* White */
    --primary-text-color: #000000; /* Black */
    --accent-color-1: #FFFFFF; /* White */
    --accent-color-2: #040273; /* Deep Blue */
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--accent-color-2);
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--accent-color-2);
    text-align: center;
    margin: 20px 0;
}

